<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css"/>

    <!-- Favicon for browser tabs -->
    <link rel="icon" type="image/png" href="~/images/FHBasicCrest.png" />

    <!-- iOS bookmark / web clip icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/FHBasicCrest.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FH Meals</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Menu" ? "active" : "")" asp-area="" asp-page="/Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Sign Up/ View Meals" ? "active" : "")" asp-area="" asp-page="/MealSignUps">Sign Up/View Meals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Permanent Sign Up" ? "active" : "")" asp-area="" asp-page="/PermaSignUp">Permanent Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Late/Early Plates" ? "active" : "")" asp-area="" asp-page="/LatePlates">Late/Early Plates</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Crew" ? "active" : "")" asp-area="" asp-page="/Crew">Crew</a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Treasurer" ? "active" : "")" asp-area="" asp-page="/Treasurer">Treasurer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActivePage"]?.ToString() == "Admin" ? "active" : "")" asp-area="" asp-page="/Authorize">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>